.cart {
    margin: 20px 0;
}

.cart-items {
    margin-bottom: 30px;
}

.cart-items-title {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    text-align: center;
}

.cart-item-row {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cart-item-image {
    width: 70px; /* Default width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image fits within the defined dimensions */
    border-radius: 5px; /* Rounded corners */
    margin: auto; /* Center the image */
  }

.remove-item {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.cart-bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
  }
  
  .cart-bottom .cart-promocode {
    flex: 2;
    max-width: 500px;
  }
  
  .cart-promocode-input input{
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    
}

  .cart-bottom .cart-totals {
    flex: 2;
  }
  .cart-promocode-input button{
    width: max(10vw,150px);
    padding: 12px 44px;
    background-color: black;
    border: none;
    height:48px;
    color: white;
    border-radius: 4px;
   
    
}
.cart-totals button{
    border: none;
    color: white;
    background-color: tomato;
    width: max(10vw,200pw);
    padding: 12px 120px;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    top: O;
}
  
  @media (max-width: 768px) {
    .cart-bottom {
      flex-direction: column;
      gap: 15px;
    }
  
    .cart-promocode-input button {
      width: 100%;
      margin-top: 10px;
     
    }

    .cart-item-image {
            width: 100%; /* Full width in mobile view */
            max-width: 70px; /* Restrict maximum size */
            height: auto; /* Maintain aspect ratio */
        
    }
  }
  